body {
    font-family: Arial, sans-serif;
    color: #343a40;
    margin: 0;
    background-image: url("../static/batsmen.jpg");
    padding: 20px;
}
body::before {
    background-image: url("../static/batsmen.jpg");
    filter: blur(2px);
    z-index: -1;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
    color: #007BFF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

form {
    margin-bottom: 30px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #007BFF;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    font-size: 1em;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition:   
 background-color 0.3s, box-shadow 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.table-container {
    overflow-x: auto; /* Enable horizontal scrolling if needed */
}

.table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}

th {
    background-color: #007BFF;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e9ecef;
}

.select-button {
    text-align: center;
}

@media (max-width: 600px) {
    h1 {
        font-size: 2em;
    }

    .table-container {
        overflow-x: auto;
    }

    th, td {
        padding: 8px;
    }
}