body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    color: #f8f9fa;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../static/index.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(2px);
    z-index: -1;
}

h1 {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: rgba(0, 123, 255, 0.7);
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 90%;
}

.description {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    margin: 20px auto;
    text-align: justify;
}

.description h2 {
    font-size: 2em;
    color: #343a40;
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
}

.description p {
    font-size: 1.2em;
    line-height: 1.8em;
    color: #495057;
}

.dropdown {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    width: 100%;
}

.dropdown-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.dropdown-button:hover {
    background-color: #0056b3;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 150px;
    text-align: left;
}

.dropdown-content a {
    display: block;
    padding: 12px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.dropdown-content a:hover {
    background-color: #007BFF;
    color: #fff;
}

.message {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
    color: #f8f9fa;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

@media (max-width: 600px) {
    h1 {
        font-size: 2.5em;
    }

    .description {
        padding: 20px;
        margin: 15px auto;
    }

    .description h2 {
        font-size: 1.75em;
    }

    .description p {
        font-size: 1em;
    }

    .dropdown-button {
        font-size: 1em;
        padding: 8px 16px;
    }
}
